h {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

}

#carouselExample
{
    text-align:center;
    height:100vh;
    background-color: #1d1d1f;
}

img
{
    height: 100vh;   
}
